# Node / Cypress
node_modules/
cypress/videos/
cypress/screenshots/

# Env
.env
Mobile/TestPraticoAYR/src/test/resources/testdata.properties

# OS
.DS_Store
Thumbs.db
.idea/

# Cypress artifacts
cypress/videos/
cypress/screenshots/

# Accessibility reports (axe / cypress-axe)
cypress/accessibility-reports-folder/

# Node
node_modules/

# Env
.env
